* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato','Roboto', sans-serif;
}

#map { 
    height: calc(100vh - 65px);
    width: 100%;
}

body {
    height: 100vh;
    display: grid;
    grid-template-columns: 350px 1fr 1fr 1fr 1fr;
    grid-template-rows: 65px max-content;
    grid-template-areas: 
        "header header header header header"
        "aside main main main main";
}

header {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    box-shadow: 1px 1px 5px lightgrey;
    height: auto;
    /* min-height: 65px; */
    grid-area: header;


    p {
        font-size: 2rem;
        font-weight: bold;
    }
    
    nav {
        display: flex;
        margin-left: auto;


        ul {
            display: flex;
            list-style: none;
            margin: 0;
            padding: 0;

            li {
                margin-left: 1rem;
                font-size: 1.2rem;
                font-weight: bold;
            }

            a {
                text-decoration: none;
                color: black;
            }
            
        }
    }
}

main {
    /* max-width: 80%; */
    margin: 0 auto;
    grid-area: main;
    width: 100%;

    #keyboard-shortcuts-view {
        display: none;
        z-index: 10000;
        position: relative;
        background-color: white;
        width: max-content;
        padding: 1rem 2rem;
        border-radius: 5px;
        box-shadow: 1px 1px 5px lightgrey;
        top: 30%;
        left: 43%;
        
        p {
            font-size: 1rem;
            font-weight: bold;
            margin-bottom: 0.5rem;
        }

        td {
            padding: 0.5rem 1.5rem;
            font-size: 0.8rem;
        }

        td:first-child {
            background-color: #e8eaed;
            padding: 0.3rem;
            border-radius: 3px;
            width: 40px;
            text-align: center;
            font-weight: bold;
            font-size: 1rem;
        }
    }
}

aside {
    grid-area: aside;
    padding: 1rem;

    h2, h3, p {
        margin-bottom: 0.8rem;
    }

    button {
        padding: 0.5rem 1rem;
        background-color: #007bff;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    button:hover {
        background-color: #0056b3;
    }

    .config {
        margin-bottom: 1rem;
        border-bottom: 1px solid lightgrey;
        padding-bottom: 1rem;
    }

    .contrast {
        display: flex;
        justify-content: flex-start;
        gap: 1rem;
        align-items: center;
        margin-bottom: 1rem;
    }


}

#shortcuts-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font: inherit;
}

.popup-close-button {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    text-align: center;
    width: 24px;
    height: 24px;
    font: 16px/24px Tahoma, Verdana, sans-serif;
    color: #757575;
    text-decoration: none;
    background: transparent;
}

#shortcuts-wrapper {
    display: none;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}
/* Invert OSMM for High Contrast */
/* .leaflet-tile-container img {
    filter: invert(2);
} */

.high-contrast {
    filter: invert(2);
    background-color: black;
}